.item:hover,
.deleteCartItem:hover::before {
  will-change: transform, opacity;
}
.menuWrapper {
    padding: 16px;
    /* margin-top: 100px; */
    width: 60vw;
    margin: 100px auto;
}

.menuSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 16px; */
}

.searchInput {
    height: 20px;
    color: white;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: 1;
    margin-right: 8px;
    transition: box-shadow .2s ease-in-out;
    border:none
}

.searchButton {
    padding: 8px 16px;
    background-color: #09862f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #06511c;;
}
.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) inset;
    /* box-shadow: 0 0 5px rgba(9, 134, 47, 0.5); */
}
.filterWrapper{
    width: 80%;
    margin: auto;
}

.filterButton{
    border:none;
    width: 100%;
    background-color: rgb(70, 70, 75);
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 18px;
}

.filterDropdown{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 20px;
    background-color: rgb(70, 70, 75);
    border-radius: 0 0 5px 5px;
}
.filterDropdown.show {
  max-height: 500px; /* Large enough to fit content */
  opacity: 1;
  margin-bottom: 20px;
}
.filterItem{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.menuCheckboxes{
  width: 15px;
  height: 15px;
}
.menuContainer{
    width: 100%;
    min-height: 850px;
    /* border: 3px rgb(70, 70, 75) solid; */
    border-radius: 10px;
    /* height: 800px; */
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    padding: 10px;
}
.noResults{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    padding-top: 50px;
}
.item{
    height: 150px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 32px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1) inset; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.item::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.selectedItem {
    background-color: rgba(255, 255, 255, 0.3);
}
.item:hover{
    transform: scale(1.01);
}
.item:hover::before {
    transform: translateX(0%);
    opacity: 1;
}
.itemPhotoWrapper{
    width: 25%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    padding: 5px;
}
.itemPhotoWrapper img {
    width: 100%;
    height: auto;
    /* max-width: 165px; */
    border-radius: 5px;
    object-fit: cover; /* optional, trims overflow if necessary */
}

.itemDescriptionWrapper{
    width: 75%;
    display: flex;
    flex-direction: row;
}
.itemDescription{
    width: 80%;
    color: white;
}
.itemOptions{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    cursor: pointer;
}
.itemOptions svg{
    width: 50%;
    height: 50%;
    transition: fill 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.itemOptions svg:hover{
    fill:#06511c;
    transform: scale(1.1);
}
.cartWrapper{
    position: fixed;
    top: 150px; /* Adjust as needed */
    height: calc(100vh - 150px);
    width: 90vw;
    background-color: green;
    z-index: 1000;
    right: 5vw;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 32px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.itemsScrollArea {
    flex: 1;
    overflow-y: auto;
}

.itemDescriptionCart{
    width: 70%;
    color: white;
    padding: 10px;
}
.itemOptionsCart{
    /* background-color: green; */
    width: 30%;
    display: flex;

}
.increaseDecrease{
    width: 70%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deleteCartItem{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 32px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}
.deleteCartItem::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: -1;
    opacity: 0;
}
.deleteCartItem:hover::before {
    transform: translateX(0%);
    opacity: 1;
}
.decrease,.increase,.quantity{
    width: 100%;
    height: 33%;
    position: relative;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.increase::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: -1;
}
.increase:hover::before {
    transform: translateY(0%);
    opacity: 1;
}
.decrease::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: -1;
}
.decrease:hover::before {
    transform: translateY(0%);
    opacity: 1;
}

.increase svg, .decrease svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.cartTotal{
    color: white;
}