.menuWrapper {
    padding: 16px;
    /* margin-top: 100px; */
    width: 60vw;
    margin: 100px auto;
}

.menuSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 16px; */
}

.searchInput {
    height: 20px;
    color: white;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: 1;
    margin-right: 8px;
    transition: box-shadow .2s ease-in-out;
    border:none
}

.searchButton {
    padding: 8px 16px;
    background-color: #09862f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #06511c;;
}
.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) inset;
    /* box-shadow: 0 0 5px rgba(9, 134, 47, 0.5); */
}
.filterWrapper{
    width: 80%;
    margin: auto;
}

.filterButton{
    border:none;
    width: 100%;
    background-color: rgb(70, 70, 75);
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 18px;
}

.filterDropdown{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 20px;
    background-color: rgb(70, 70, 75);
    border-radius: 0 0 5px 5px;
}
.filterDropdown.show {
  max-height: 500px; /* Large enough to fit content */
  opacity: 1;
  margin-bottom: 20px;
}
.filterItem{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.menuCheckboxes{
  width: 15px;
  height: 15px;
}
.menuContainer{
    width: 100%;
    /* border: 3px rgb(70, 70, 75) solid; */
    border-radius: 10px;
    /* height: 800px; */
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    padding: 10px;
}
.item{
    height: 120px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 32px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1) inset; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.01);
}
.itemPhotoWrapper{
    width: 30%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    padding: 5px;
}
.itemPhotoWrapper img {
    width: 100%;
    height: auto;
    max-width: 165px;
    max-height: 110px;
    border-radius: 5px;
    object-fit: cover; /* optional, trims overflow if necessary */
}

.itemDescriptionWrapper{
    width: 70%;
    display: flex;
    flex-direction: row;
}
.itemDescription{
    width: 80%;
}
.itemOptions{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: -30px; /* Above the catalog box */
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* clip-path: inset(0 0 50% 0); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 32px rgba(255, 255, 255, 0.2);
    transition: opacity .5s ease-in-out;
}
.Capa_1{
    width: 70%;
    fill: white;
}
.cartWrapper{
    position: fixed;
    top: 150px; /* Adjust as needed */
    height: 90vh;
    width: 90vw;
    background-color: green;
    z-index: 1000;
    right: 5vw;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 32px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}